<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/cache
		    http://www.springframework.org/schema/cache/spring-cache.xsd">
	
    <import resource="db-config.xml" />
    
<!--     <context:annotation-config /> -->

    <!-- Bean -->
<!--     <bean id="loginMBean" class="mooc.login.LoginMBean"> -->
<!--         <property name="apprenantService" ref="apprenantService"></property> -->
<!--     </bean> -->
    
    <!-- Service -->
    <bean id="apprenantService" class="mooc.service.impl.ApprenantServiceImpl">
        <property name="apprenantDAO" ref="apprenantDAO"></property>
        <property name="notionDAO" ref="notionDAO"></property>
        <property name="connaissanceDAO" ref="connaissanceDAO"></property>
        <property name="competenceDAO" ref="competenceDAO"></property>
    </bean>
    <bean id="connaissanceService" class="mooc.service.impl.ConnaissanceServiceImpl">
        <property name="connaissanceDAO" ref="connaissanceDAO"></property>
    </bean>
    <bean id="competenceService" class="mooc.service.impl.CompetenceServiceImpl">
        <property name="competenceDAO" ref="competenceDAO"></property>
        <property name="apprenantDAO" ref="apprenantDAO"></property>
        <property name="notionDAO" ref="notionDAO"></property>
    </bean>
    <bean id="notionService" class="mooc.service.impl.NotionServiceImpl">
        <property name="notionDAO" ref="notionDAO"></property>
    </bean>
    
    <!-- DAO -->
    <bean id="apprenantDAO" class="mooc.dao.impl.ApprenantDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="notionDAO" class="mooc.dao.impl.NotionDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="connaissanceDAO" class="mooc.dao.impl.ConnaissanceDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="competenceDAO" class="mooc.dao.impl.CompetenceDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
<!-- 	<context:component-scan base-package="mooc, mooc.dao, mooc.dao.impl, mooc.service, mooc.service.impl" /> -->
</beans> 